In [139]:
pwd

'C:\\Users\\17\\Desktop\\python'

#### 셀 모드 변환 단축키
markdown : m - 제목
code : y - 코드
raw : r - 메모장

## 숫자

In [134]:
1+2

3

In [135]:
"Ola"

'Ola'

In [136]:
40/2

20.0

In [137]:
7*123

861

In [138]:
#나누기의 나머지
5%2

1

In [2]:
15//2

3

In [3]:
"Ola"

'Ola'

In [4]:
40/2

20.0

In [5]:
7*123

861

In [6]:
#나누기의 나머지
5%2

1

In [7]:
15//2

7

## 문자열(string)

In [8]:
"Hi there"+" Ola"

'Hi there Ola'

In [9]:
"Oal " * 3

'Oal Oal Oal '

In [10]:
"Im' a boy"

"Im' a boy"

In [11]:
#백슬래시
'Im\' a boy'

"Im' a boy"

## 메소드, 함수

In [12]:
len('ola')

3

In [13]:
#문자열에만 사용
'ola'.upper()

'OLA'

## 오류

In [14]:
#자료형 확인 함수 : type
#integer : 정수
type(1541111)

int

In [15]:
#float(부동소수)
type(0.5)

float

In [16]:
#문자열 변환 : str
len(str(3412))

4

In [17]:
len("3412")

4

In [18]:
type("3412")

str

## 변수

In [19]:
name = 'Ola'

In [20]:
name

'Ola'

In [21]:
name='Songa'

name

'Songa'

## print 함수

In [22]:
a = 1
b = 2

print(a,b)

1 2

In [23]:
#여러줄 출력할 때는 print 함수가 필요
print(a)
print(b)

1
2

In [40]:
print(a, end=" ")
print(b)

1 2

## 리스트

() : 튜플
{} : 딕셔너리, 집합
[] : 리스트

In [25]:
[]

[]

In [26]:
#tad키를 이용하여 자동완성
lottery = [3, 42, 12, 19, 30, 59]

lottery

[3, 42, 12, 19, 30, 59]

In [27]:
len(lottery)

6

In [28]:
#sort : 리스트 오름차순 정렬 메소드
lottery.sort()

In [29]:
lottery

[3, 12, 19, 30, 42, 59]

In [30]:
# reverse : 리스트 내림차순 정렬 메소드
lottery. reverse()

In [31]:
lottery

[59, 42, 30, 19, 12, 3]

#### 리스트에 요소 추가 : append

In [32]:
lottery.append(199)

lottery

[59, 42, 30, 19, 12, 3, 199]

In [33]:
# extend 함수 : 가장 바깥쪽에 iterable(연속된 데이터) 추가
x = ['Tick', 'Tock', 'Song']
y = ['Ping', 'pong']

x.extend(y)

x

['Tick', 'Tock', 'Song', 'Ping', 'pong']

In [34]:
x = ['Tick', 'Tock', 'Song']
y = 'Ping'

x.extend(y)

x

['Tick', 'Tock', 'Song', 'P', 'i', 'n', 'g']

## 리스트 인덱싱, 슬라이싱

In [35]:
print(len(lottery))
lottery

7

[59, 42, 30, 19, 12, 3, 199]

In [36]:
#리스트 인덱싱(indexing)
print(lottery[0])
print(lottery[3])
print(lottery[-1])

59
19
199

# pop함수 : 리스트 내 요소 삭제

In [141]:
lottery.pop(0)

3

In [142]:
lottery

[12, 19, 30, 42, 199]

In [143]:
# 리스트 슬라이싱
lottery[1:4]

[19, 30, 42]

In [144]:
lottery[:]

[12, 19, 30, 42, 199]

In [145]:
lottery[:4]

[12, 19, 30, 42]

In [146]:
lottery[3:]

[42, 199]

In [147]:
# 간격
lottery[::2]

[12, 30, 199]

In [148]:
lottery[::-1]

[199, 42, 30, 19, 12]

In [149]:
lottery[::1]

[12, 19, 30, 42, 199]

In [150]:
lottery[0::]

[12, 19, 30, 42, 199]

In [151]:
lottery.sort()

lottery

[12, 19, 30, 42, 199]

## 딕셔너리(dictionary)

In [51]:
{}

{}

In [52]:
partipant = {'name':'Ola', 'country': 'Poland', 'favorite_numbers':[7,42,92]}

print(len(partipant))
partipant

3

{'name': 'Ola', 'country': 'Poland', 'favorite_numbers': [7, 42, 92]}

In [53]:
partipant['name']

'Ola'

In [54]:
partipant['country']

'Poland'

In [55]:
partipant['favorite_numbers'][0]

7

In [56]:
partipant['age']=30

In [57]:
partipant

{'name': 'Ola',
 'country': 'Poland',
 'favorite_numbers': [7, 42, 92],
 'age': 30}

In [58]:
len(partipant)

4

In [59]:
partipant.keys()

dict_keys(['name', 'country', 'favorite_numbers', 'age'])

In [60]:
list(partipant.keys())

['name', 'country', 'favorite_numbers', 'age']

In [61]:
partipant.values()

dict_values(['Ola', 'Poland', [7, 42, 92], 30])

In [62]:
list(partipant.values())

['Ola', 'Poland', [7, 42, 92], 30]

In [63]:
partipant.items()

dict_items([('name', 'Ola'), ('country', 'Poland'), ('favorite_numbers', [7, 42, 92]), ('age', 30)])

In [64]:
partipant

{'name': 'Ola',
 'country': 'Poland',
 'favorite_numbers': [7, 42, 92],
 'age': 30}

## 집합(set)

중복되는 요소를 제거하고 유일한 값만 남겨둔다.

In [65]:
data = set([1,1,2,3,4,4,5])
data

{1, 2, 3, 4, 5}

In [66]:
data.add(10)
data

{1, 2, 3, 4, 5, 10}

In [67]:
#집합에 요소 여러개 추가
data.update([21,22])
data

{1, 2, 3, 4, 5, 10, 21, 22}

In [68]:
#집합에 요소 삭제
data.remove(3)

data

{1, 2, 4, 5, 10, 21, 22}

In [154]:
# 집합 : 합집합, 교집합, 차집합
a= set([1,2,3,4,5])
b= set([3,4,5,6,7])

In [155]:
#합집합
a|b

{1, 2, 3, 4, 5, 6, 7}

In [157]:
#교집합
a&b

{3, 4, 5}

In [158]:
#차집합
a-b

{1, 2}

## 튜플(tuple)

요소 수정이 안됨

In [73]:
dimensions=(1920,1080)
dimensions

(1920, 1080)

In [74]:
dimensions=1920,1080
dimensions

(1920, 1080)

In [75]:
dimensions=(78,)
dimensions

(78,)

-> 데이터 보관소 4가지
리스트 : 순서가 있는 연속적 데이터
딕셔너리 : key:value 쌍으로 이루어진 데이터(순서가x)

집합 : 유일한 값들만 남겨주는 자료형
튜플 : 수정이 안 됨.

앞으로 공부할 것.
조건문
반복문

##  값 비교하기

불리언(Boolean) 자료형 : 참, 거짓(True, False)

In [76]:
5>2

True

In [77]:
5<2

False

In [78]:
1==1

True

In [79]:
5!=2

True

In [80]:
5>2 or 3<2

True

In [81]:
5>2 and 3<2

False

## 조건문(if, else, elif)

In [82]:
# if, else 구문
if 3>2:
    print('yes')
else:
    print('no')

yes

In [107]:
name='성현'
adress = 'seoul'

In [108]:
# if, else문 : 2가지 상황을 따질 때
if name=='Ola':
    print('hey', name)
else:
    print('wath', name)

wath 성현

In [110]:
# 문자열 포매팅
if name == 'Sonja':
    print('hey {}'.format(name))

In [111]:
if name == 'Sonja':
    print('hey {}'.format(adress))

In [117]:
name = '성현'
if name == '성현':
    print('hey {}'.format('name'))

hey name

In [87]:
#if, elif, else문 : 3가지 이상의 상황을 따질 때

name = 'Sonja'

if name == 'Ola':
    print('hey ola')
elif name == 'Sonja':
    print('hey sonja')
elif name =='James':
    print('hey james')
else :
    print('hey ani')

hey sonja

## 나만의 함수 만들기

In [118]:
# 내장 함수
len(name)

2

# 함수정의
def 함수명():
    명령문

In [119]:
def hi():
    print('hi')

In [120]:
hi()

hi

In [121]:
name

'성현'

In [122]:
def hi(name):
    if name =='Ola':
        print('hi ola')
    elif name == 'Sonja':
        print('hi sonja')
    else:
        print('who are you?')

In [123]:
# hi 함수 호출
hi('Ola')

hi ola

In [124]:
# 숫자 2개를 더해서 결과를 리턴(반환)해주는 함수
def sum_numbers(a, b):
    c= a+b
    return c

In [125]:
k = sum_numbers(1,2)

k

3

## 반복문

In [126]:
girls = ['Rache', 'Monica', 'Phoebe', 'Ola', 'You']

In [127]:
print (girls)

['Rache', 'Monica', 'Phoebe', 'Ola', 'You']

for 그 중 하나 in 반복대상:
     명령문

In [128]:
for girl in girls:
    print (girl)

Rache
Monica
Phoebe
Ola
You

In [129]:
def hi(name):
    print('hi '+ name)

In [130]:
# for문 안에서 hi 함수 사용
for name in  girls:
    hi(name)

hi Rache
hi Monica
hi Phoebe
hi Ola
hi You

In [131]:
# for문 + range() 함수
for i in range(1,6):
    print(i)

1
2
3
4
5

## (2) While문

조건에 부합하는 동안 반복

In [132]:
i=0

while i<3:
    print('true')
    i=i+1

true
true
true

In [133]:
i=0

while i<3:
    print('true')
    i+= 1

true
true
true

지금까지 정리

1. 데이터 자료형 관련
- 숫자형(int, float)
- 문자열(string) : '', ""
<데이터 저장소>
- 리스트: 순서가 있고
- 딕셔너리 : 키-밸류 쌍
- 집합{} : 유일한 값만 남김
- 튜플() : 요소 수정이 안됨

2. 함수 관련
- 값 비교하기
- 조건문(if, elif, else)
- 함수 만들기(def, 매개변수, return)
- 반복문
    - for문 : 정해진 반복대상 (리스트, range)에 대해 반복
    - while문 : 조건에 맞으면 반복

<심화>
리스트 컴프리헨션
인풋 함수
map 함수
람다 함수
동적 변수 생성